.form {
  width: 440px;
  padding: 10px;
  border: 1px solid black;
}

.label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 700;
}

.input {
  height: 20px;
  outline: none;
}
.input:focus {
  border: 2px solid grey;
  box-shadow: inset 0px 0px 3px 3px rgba(75, 142, 187, 0.34);
}
